#
# Misc strange devices
#

menu "Makerbot"

config FAST_GPIO
    tristate "fast gpio"
	depends on GPIOLIB
    help
        Makerbot custom driver for fast gpio access

config BUZZER
    tristate "buzzer"
	depends on GPIOLIB
    help
	Makerbot buzzer driver

endmenu
